@{
    ViewBag.Title = "About";
}
@section css{
    @Styles.Render("~/Content/about")
}
<div class="row">
    <div class="col-md-12 listCont">
        <ul class="list-unstyled">
            <li><img src="~/Content/img/ben.jpg" alt="FairFax Drug Ben"><p><b>Ben</b> - Lead vocalist, Guitarist</p></li>
            <li><img src="~/Content/img/generic_avatar.jpeg" alt="FairFax Drug NEEDED"><p><b>NEEDED TO FILL</b> - Lead guitarist, Backup vocalist</p>
                <p style="margin-left: 10px;">
                    <b>
                        <em>
                            Visit our <a href="https://www.facebook.com/fairfaxdrug">Facebook page</a> to connect with us if you're an interested guitar player.
                        </em>
                    </b>
                </p></li>
            <li><img src="~/Content/img/robert.jpg" alt="FairFax Drug Robert"><p><b>Robert</b> - Drummer</p></li>
            <li><img src="~/Content/img/shaun.jpg" alt="FairFax Drug Shaun"><p><b>Shaun</b> - Bassist</p></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 cont">
        <ul class='circle-container'>
            <li><a href='#'><img src="~/Content/img/generic_avatar.jpeg" alt="FairFax Drug NEEDED" onmouseover="show('#ericContent')" onmouseout="hide('#ericContent')"></a></li>
            <li><a href='#'><img src="~/Content/img/robert.jpg" alt="FairFax Drug Robert" onmouseover="show('#robertContent')" onmouseout="hide('#robertContent')"></a></li>
            <li><a href='#'><img src="~/Content/img/shaun.jpg" alt="FairFax Drug Shaun" onmouseover="show('#shaunContent')" onmouseout="hide('#shaunContent')"></a></li>
            <li><a href='#'><img src="~/Content/img/ben.jpg" alt="FairFax Drug Ben" onmouseover="show('#benContent')" onmouseout="hide('#benContent')"></a></li>
        </ul>
        <span id="mobHid">
            <div id="fdContent">FD</div>
        </span>
        <span id="benContent">
            <b>Ben</b><br />
            Vocalist<br />
            Guitarist
        </span>
        <span id="ericContent">
            <b>NEEDED</b><br />
            Guitarist<br />
            Vocalist
        </span>
        <span id="robertContent">
            <b>Robert</b><br />
            Drummer<br />
            Nissan Versa
        </span>
        <span id="shaunContent">
            <b>Shaun</b><br />
            Bassist<br />
            Antics
        </span>
    </div>
    <div class="col-md-2">
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/about")
}