@{
    ViewBag.Title = "Home";
}

@section pageBanner{
    <div class="text-center homebanner">
        <h1>Fairfax Drug</h1>
        <p class="lead">The mom your band warned you about</p>
    </div>
}

<div class="row">
    <div class="col-md-9">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P2O4-jmIuN8?controls=2&fs=1"></iframe>
        </div>
    </div>

    <div class="col-md-3 hidden-sm hidden-xs">
        <h3>
            <u>Rehearsal Night</u>
        </h3>
        Rehearsing for our show on 6/27/2015
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The Guys</h2>
        <p>
            Ben - Guitar, Lead Vocals
        </p>
        <p>
            Eric - Guitar, Backup Vocals
        </p>
        <p>
            Robert - Drums
        </p>
        <p>
            Shaun - Bass
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Music</h2>
        <a href="https://soundcloud.com/conscience-monster" target="_blank">Under the guise of Conscience Monster</a>
    </div>
    <div class="col-md-4">
        <h2>The News</h2>
        <p>Playing Live - 6/27/2015 @Html.Raw("@") 12:30pm</p>
        <address>
            Little King's Shuffle Club<br />
            223 W Hancock Ave<br />
            Athens, GA 30601<br />
        </address>
    </div>
</div>