@{
    ViewBag.Title = "Home";
}

@section pageBanner{
    <div class="homebanner">
        <img src="~/Content/img/ff_banner.png" class="img-responsive center-block" alt="Fairfax Drug" />
    </div>
}
<div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
        <h3>
            <u>Performance Day</u>
        </h3>
        Playing live @Html.Raw("@") Little King's on 6/27/2015
    </div>
    <div class="col-md-9">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="fb-root"></div>
            <script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/fairfaxdrug/videos/vb.342250545955933/440679119446408/?type=1"><div class="fb-xfbml-parse-ignore"><blockquote cite="/fairfaxdrug/videos/440679119446408/"><a href="/fairfaxdrug/videos/440679119446408/">Braila</a><p></p>Posted by <a href="https://www.facebook.com/fairfaxdrug">Fairfax Drug</a> on Sunday, June 28, 2015</blockquote></div></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P2O4-jmIuN8?controls=2&fs=1"></iframe>
        </div>
    </div>

    <div class="col-md-3 hidden-sm hidden-xs">
        <h3>
            <u>Rehearsal Night</u>
        </h3>
        Rehearsing for our show on 6/27/2015
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The Guys</h2>
        <p>
            Ben - Guitar, Lead Vocals
        </p>
        <p>
            NEEDED TO FILL - Guitar, Backup Vocals
        </p>
        <p style="margin-left: 10px;">
            <b>
                <em>
                    Visit our <a href="https://www.facebook.com/fairfaxdrug">Facebook page</a> to connect with us if you're an interested guitar player.
                </em>
            </b>
        </p>
        <p>
            Robert - Drums
        </p>
        <p>
            Shaun - Bass
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Music</h2>
        <a href="https://soundcloud.com/conscience-monster" target="_blank">Under the guise of Conscience Monster</a>
    </div>
    <div class="col-md-4">
        <h2>The News</h2>
        <p>Playing Live - 6/27/2015 @Html.Raw("@") 12:30pm</p>
        <address>
            Little King's Shuffle Club<br />
            223 W Hancock Ave<br />
            Athens, GA 30601<br />
        </address>
    </div>
</div>